{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "{% static 'cotizacion.css' %}">
    <title>Cotiza tu cancha</title>
</head>
<body>
    <div class="wrapper">
        <div class="title">
            Cotiza tu cancha
        </div>
        <div class="form">
            <form action=" {% url 'cotizar' %}" method="POST"> 
                {% csrf_token %}
    
            <p>Asunto</p>
            <div class="input_field">
                <input type="text" class="input" placeholder="escribe tu asunto">
            </div>
            <p>Email</p>
            <div class="input_field">
                <input type="email" class="input" placeholder="escribe tu Email">
            </div>
            <textarea class="form-control" rows="10"  cols="57" style="resize: none;" name="txtMensaje" placeholder="Mensaje"></textarea> 
            
            <div class="input_field terms">
                <label class="check">
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
                <p>Acepta terminos y condiciones</p>
            </div>
            <div class="input_field">
                <input type="submit" value="COTIZAR CANCHA"/>
            </div> 
            </form>
        </div>
    </div>
</body>
</html>