{% load static %}
 {% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
    <head>
        {% load bootstrap4 %}
         {% if messages %}
        <ul class="messages list-group mb-3">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }} list-group-item list-group-item-primary"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
      {% endif %}
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Quick GO Admin</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
        {% include "dasboard/nav.html" %}
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Tablas</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                            <li class="breadcrumb-item active">Tablas</li>
                        </ol>
                        <div class="card mb-4">
                            <div class="card-body">
                                Plataforma exclusiva para administradores
                                .
                            </div>
                        </div>
                        <div class="card mb-4">
                            <div class="card-header">
                                <i class="fas fa-table me-1"></i>
                                Tabla De Datos
                            </div>
                            <div class="card-body">
                                {% bootstrap_javascript jquery='full' %} 
                                <div align="left" class="btn_crear mb-3">
                                    <a href="crear" type="button" class="btn btn-primary">Crear</a>
                                </div>
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                                <th>Id</th>
                                                <th>horario_apertura</th>
                                                <th>horario_cierre</th>
                                                <!--<th>dias</th>-->
                                             <!---   <th>asignacion</th>-->
                                                <th>horario</th>
                                            
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                                <th>Id</th>
                                                <th>horario_apertura</th>
                                                <th>horario_cierre</th>
                                                <th>dias</th>
                                               <!--- <th>asignacion</th>-->
                                                <th>horario</th>
                                            
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                    {% for post in object_list %}
                                            <tr>
                                                
                                                    <td>{{ post.idhorario }}</td>
                                                    <td>{{ post.horario_apertura }}</td>
                                                    <td>{{ post.horario_cierre }}</td>
                                                    <!--<td>{{ post.dias }}</td>
                                                   <!--<td>{{ post.asignacion}}</td>-->
                                                     <td>{{ post.horario}}</td>
                                                    
                                               
                                                    <td>
                                                    <!-- Usaremos un formulario que realizará la tarea de eliminar un registro o postre desde la misma tabla HTML -->                        
                                                        <form method="POST" action="eliminar/{{ post.idhorario}}">
                                                            {% csrf_token %}
                                                            <div >
                                                
                                                                <!-- Creamos 3 botones que son ver, Editar y Eliminar, nos sirven para gestionar nuestros registros o postres -->
                                                                <a href="detalle/{{ post.idhorario}}" title="Ver" type="button" class="btn btn-success">Ver </a>
                                                                <a href="editar/{{ post.idhorario}}" title="Editar" type="button" class="btn btn-primary">Editar </a>
                                                                <button class="btn btn-danger" onclick="return eliminar();" type="submit">
                                                                    Eliminar
                                                                </button>
                                                            </div>
                                                        </form>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tr>
                                    </tbody>
                                </table>
                                <script type="text/javascript">
                                 function eliminar() {
                                    var x = confirm("Eliminar actividad ?");
                                    if (x)
                                     return true;
                                    else
                                        return false;
                                 }
                                </script>  
                            </div>
                        </div>
                    </div>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">&copy; Your Website 2022</div>
                            <div>
                            
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{% static 'js/scripts.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="{% static 'js/datatables-simple-demo.js'%}"></script>
    </body>
</html>
