{% extends 'principal/principal.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'editarperfil.css' %}">
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    
  
    <title>Document</title>
    
</head>
<body>
    


{% load crispy_forms_tags %}


        <div class="row">
            <div class="col-12 col-md-6 offset-md-3">
                <div class="card">
                    <div class="card-body">
                        <hr/>
                        <h2>modificar cancha</h2>
                        <hr/>
                        <form action="" method="post" enctype="multipart/form-data">
                    
                        {% csrf_token %}
                        {{ form | crispy }}
                        <div class="d-felx justify-content-end">
                            <input type="submit" value="Cancelar" class="btn btn-secondary">
                         &nbsp;
                      
                         <input type="submit" value="modificar" class="btn btn-primary ">
                        </div>
                    </div>
                    </div>
                </form>
                {{mensaje}}
        
    </div>
</div>   
</div>
    
</body>
</html> 

{% endblock %}