{% extends 'principal/principal.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>Reserva </title>

	<!-- Google font -->
	<link href="{% static 'cssreserva/https://fonts.googleapis.com/css?family=Montserrat:400,700' %}" rel="stylesheet">

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="{% static 'cssreserva/bootstrap.min.css' %}" />

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="{% static 'cssreserva/style.css' %}" />

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

</head>

<body>
	{% load crispy_forms_tags %}
	<div id="booking" class="section">
		<div class="section-center">
			<div class="container">
				<div class="row">
					<div class="col-md-7 col-md-push-5">
						<div class="booking-cta">
							<h1>No te quedes sin disfrutar de esta gran pasion</h1>
							<h1>Haz Tu Reserva!</h1>
						</div>
					</div>
					<div class="col-md-4 col-md-pull-7">
						<div class="booking-form">
							<h2>Agregar reservas</h2>
                        <hr/>
                        <form action="" method="post" enctype="multipart/form-data">
                    <!--evitar ataques maliciosos-->
                        {% csrf_token %}
                        {{ formulario | crispy }}
                        <div class="d-felx justify-content-end">
                            <input type="submit" value="Cancelar" class="btn btn-secondary">
                         &nbsp;
                      
                         <input type="submit" value="Guardar" class="btn btn-primary ">
                        </div>
                    </div>
                    </div>
                </form>
                {{mensaje}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
{%endblock%}