{% load static %}
 {% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Dashboard - SB Admin</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
       {% include "dasboard/nav.html" %}
            </div>
            <div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">Dashboard</h1>
                        <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item"><a href="index.html">Dashboard1</a></li>
                            <li class="breadcrumb-item"><a href="index.html">Dashboard2</a></li>
                            <li class="breadcrumb-item active">Tables</li>
                        </ol>
                        <div class="card mb-4">
                            <div class="card-body">
                                DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the
                                <a target="_blank" href="https://datatables.net/">official DataTables documentation</a>
                                
                            </div>
                            <div class="card-body">
                                <table id="datatablesSimple">
                                    <thead>
                                        <tr>
                                                <th>Id</th>
                                                <th>Nombre</th>
                                                <th>Ubicacion</th>
                                                <th>Descripcion</th>
                                                
                                                <th></th>
                                            
                                          </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                                <th>Id</th>
                                                <th>Nombre</th>
                                                <th>Ubicacion</th>
                                                <th>Descripcion</th>
                                                
                                                <th></th>
                                            
                                          </tr>
                                    </tfoot>
                                    <tbody>
                                        <!-- Recorremos los objetos o registros que tenemos en nuestra tabla 'categoria' y los listamos -->
                                        {% for post in object_list %}
                                            <tr>
                                                
                                                <td>{{ post.idCancha | title }}</td>
                                                <td>{{ post.nombre | title }}</td>
                                                <td>{{ post.ubicacion | title }}</td>
                                                <td>{{ post.descripcion | title }}</td>                                               
                                                <td>
                                                    <!-- Usaremos un formulario que realizará la tarea de eliminar un registro o postre desde la misma tabla HTML -->                        
                                                    <form method="POST" action="eliminar/{{ post.idCancha}}">
                                                     {% csrf_token %}
                                                        <div >
                                                
                                                            <!-- Creamos 3 botones que son ver, Editar y Eliminar, nos sirven para gestionar nuestros registros o postres -->
                                                            <a href="detalle/{{ post.idCancha}}" title="Ver" type="button" class="btn btn-success">Ver </a>
                                                            <a href="editar/{{ post.idCancha}}" title="Editar" type="button" class="btn btn-primary">Editar </a>
                                                            <button class="btn btn-danger" onclick="return eliminar();" type="submit">
                                                                 Eliminar
                                                             </button>
                                                        </div>
                                                    </form>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        
                                    </tbody>
                               </table>
                        </div>
                    </div>      
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                        
                            <div>
                           
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="js/scripts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="assets/demo/chart-area-demo.js"></script>
        <script src="assets/demo/chart-bar-demo.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        <script src="js/datatables-simple-demo.js"></script>
    </body>
</html>
